:root{
  --primary : rgb(224, 223, 223);
  --secondary : white;
  --tertiary : black;
}
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card
@mixin fixed {
    overflow: hidden;
    width: 100%;
    background-color: var(--tertiary);
    color: var(--secondary);
    width: 100%;
    height: 5em;

      ul{
        list-style-type: none;
        li{
          padding: 20px;
          list-style-type: none;
          a{
            color: var(--secondary);
          }
        }
      }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  a{
    text-decoration: none;
  }
  font-family: 'Montserrat', sans-serif;
}

header{
  display: flex;
  justify-content: flex-end;
  top: 0;
  @include fixed;
  position: fixed;
  .menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    ul{
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      li{
      font-size: 22px;
      :hover{
        font-weight: bold;
        font-size: 24px;
      }
    }
    }
    
  }
}

main{
  margin-top: 60px;
  .banner{
    height: 26em;
    background-image: url(/img/banner_computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner__container{
      display: flex;
      flex-direction: row;
      .profil{
        display: flex;
        height: 26em;
      }
    }
  }
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5em;
      #about, #projects, #cv, #contact{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5em;
      }
      #about{
        background-color: var(--primary);
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 2em;
        h1{
          padding-bottom: 15px;
        }
      }
      #projects{
        .project__card{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30%;
          height: 75%;
          min-height: 10em;
          display: flex;
          flex-direction: column;
          padding: 5px;
          cursor: pointer;
          &__title{
            width: 15em;
            padding: 5px;
            text-align: center;
            height: 4em;
          }
          &__img{
            overflow: hidden;
            height: 10em;
            padding: 10px;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: 50% 50%;
            }
          }
        }
      }

      #contact{
        width: 50%;
        background-color: var(--primary);
        border-radius: 10px;
        padding: 20px;
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        input[type=submit] {
          background-color: #04AA6D;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
      }
  }
}

footer{
  /* bottom: 0; */
  @include fixed;
  .social__network{
    display: flex;
    justify-content: center;
    
    ul{
      width: 70%;
      display: flex;
      justify-content: space-around;
      li{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      a{
        padding-bottom: 10px;
        font-size: 25px;
      }
    }
  }
}


